@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --accent: #EA5959;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Nunito", sans-serif;
  background-color: var(--accent);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 32px;
}

.todo {
  background-color: #E5E5E5;
  padding: 32px;
  width: 80%;
  border-radius: 16px;
}

.todo__title {
  font-size: 37px;
  color: gray;
}

.todo__inputBox {
  margin: 16px 0 32px;
  display: flex;
}

.todo__input {
 margin-right: 16px;
 padding: 20px 16px 20px 16px;
 width: 60%;
 font-size: 22px;
 color: grey;
 background-color: #F3F3F3;
 border-radius: 16px;
 border: none;
}

.todo__input:focus {
  outline: none;
}

.todo__input:placeholder-shown {
  text-overflow: ellipsis;
}


.tasks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tasks__one {
  display: flex;
  align-items: center;
}

.tasks__one:not(:last-child) {
  margin-bottom: 26px;
}

.tasks__checkbox {
  margin-right: 16px;
  width: 28px;
  height: 28px;
  border-radius: 16px;
  border-color: #EA5959;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.tasks__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.tasks__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 1px solid #EA5959;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.tasks__checkbox:checked+label::before {
  background-color: #EA5959;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.tasks__text {
  margin: 0 16px 0 0;
  color: #5A5A5A;
  font-size: 22px;
}

.tasks__category {
  padding: 0;
  width: 115px;
  height: 24px;
  font-size: 14px;
  background-color: #EA5959;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
}
